//global
$cursive-text-font: "Great Vibes", cursive;
$big-text-font: "Montserrat", sans-serif;
$article-text-font: "Roboto Slab", serif;
$title-font: "Sacramento", cursive;

$title-color: #fed136;

* {
  margin: 0;
  padding: 0;
}

.header-row {
  display: flex;
  justify-content: space-around;
  font-family: $big-text-font;
  text-transform: uppercase;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.logo-title {
  font-family: $title-font;
  font-size: 45px;
  text-align: center;
  right: 100px;
  color: $title-color;
  text-decoration: none;
}

.header {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/pexels-danila-giancipoli-2029594.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  margin-top: 30px;
  h2 {
    font-family: $title-font;
    font-size: 4rem;
    margin: 20px;
  }
  h1 {
    font-size: 5rem;
    font-family: $big-text-font;
    text-transform: uppercase;
    margin: 20px;
  }
  .btn {
    background: $title-color;
    padding: 20px 60px;
    border-radius: 5px;
    color: #fff;
    font-family: $big-text-font;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin: 20px;
  }
}

.my-service {
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    font-family: $big-text-font;
    font-size: 3rem;
  }
  p {
    font-family: $cursive-text-font;
    font-size: 2rem;
  }
}

.service-row {
  margin: 0 18%;
  text-align: center;
}

.portfolio-row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px 18% 20px 18%;
}

.box {
  font-family: $big-text-font;
  width: 100%;

  img {
    width: 100%;
  }

  p {
    font-family: $article-text-font;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 20px;
  }
  i {
    text-align: center;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid $title-color;
    border-radius: 50%;
    color: $title-color;
    margin: 20px;
  }
}

.my-footer {
  display: flex;
  justify-content: center;
  h4 {
    margin: 20px 10px;
    font-family: $big-text-font;
    font-weight: 400;
  }
  i {
    margin: 20px 10px;
    text-align: center;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: black;
  }
}

@media (max-width: 768px) {
  .header-row {
    flex-direction: column;
  }
  .page-title {
    h2 {
      font-size: 2rem;
    }
    h1 {
      font-size: 3rem;
    }
    .btn {
      padding: 15px 40px;
    }
  }
}
